h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    text-align: center;
    padding: 10px;
    
}
.main-container {
    width: 1080px;
    height: 1920px;
    padding: 20px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}
#visca {
	top: 10px;
	bottom: 100px;
    padding: 20px;
}
#visde {
	top: 30px;
	bottom: 100px;
    padding: 10px;
}
