body {
    background-color: black;
  }
h1 {
    font-family: "IBM Plex Serif", serif;
    font-size: 48px;
    height: 70px;
    text-align: center;
    color: #fffeee;
    width: 100%;
    background-color: #3a3c18
}
hr {
    width:96%;
    text-align:center;
    color:#3a3c18;
}
p {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    padding: 20px
}
highlight {
    font-size: 36px;
    color: #7d0505
}
dhighlight {
    font-size: 24px;
    color: #3a0808
}

.main-container {
    font-family: "Raleway", sans-serif;
    color: #3a3c18;
    width: 1080px;
    height: 2860px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    background-color:#fffeee;
    border: 5px solid #3a3c18;
}
.maps {
    padding-left: 15px;
}
.graph {
    padding-left: 250px;
}

.compare {
    width: 100%;
    align-content: center;
    margin: auto;
}

.left {
    width: 500px;
    float: left;
    height: 500px;
}

.right {
    width: 500px;
    float: left;
    height: 500px;
    padding-left: 50px;
}



#visca {
    font-family: "Raleway", sans-serif;
	top: 10px;
	bottom: 100px;
    padding: 25px;
}
#visde {
    font-family: "Raleway", sans-serif;
	top: 10px;
	bottom: 100px;
    padding: 30px;
}

#vislg {
    font-family: "Raleway", sans-serif;
	top: 10px;
	bottom: 100px;
    padding: 25px;
}

#vismpg {
    font-family: "Raleway", sans-serif;
	top: 10px;
	bottom: 100px;
}

#vising {
    font-family: "Raleway", sans-serif;
	top: 10px;
	bottom: 100px;
}